/* Media query for iPad */
@media (max-width: 1024px) {
  .canvasBox {
    display: flex;
    width: 500px;
    height: 500px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .layer {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 2rem 0 2rem 0;
  }
  .sectionTitleRow {
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem 5rem 0rem;
    /* padding-left: 10rem; */
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .sectionTitleIcon {
    width: 50px;
    height: 50px;
  }
  .sectionTitle {
    font-size: 3rem;
    /* padding: 5rem 2rem 5rem 2rem; */
    font-weight: normal;
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .leftHalf {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 0rem;
  }
  .rightHalf {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
  }

  /* #region Intro */
  .introName {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: white;
  }
  .introJobTitle {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: white;
  }
  .introDescription {
    font-size: 2rem;
  }
  .introPic {
    width: 90%;
    height: auto;
  }
  /* #endregion Intro */
  /* #region Description */
  .descriptionImage {
    width: 300px;
    height: 300px;
  }
  /* #endregion Description */
  /* #region Work Experience */
  .workContainer {
    max-width: 1100px;
  }
  .workCompany {
    display: flex;
    flex-direction: column;
  }
  .workLogo {
    margin-right: 1rem;
    margin-top: 1.5rem;
  }
  .workInfo {
    padding: 0rem 0rem 5rem 0rem;
  }

  .workCompany {
    font-size: 2rem;
    font-weight: bold;
  }
  .workDate {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }
  .workDescription {
    padding: 0 0 0 0;
    font-size: 1.4rem;
  }

  /* #endregion Work Experience */

  /* #region Project */
  .projectContainer {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .projectSectionTitle {
    font-size: 4.5rem;

    transform: translateY(-4rem);
  }
  .projectTitle {
    font-size: 3rem;
    margin: 0;
  }
  .projectLanguages {
    font-size: 1rem;
  }
  .projectDescription {
    font-size: 1.5rem;
  }
  .projectLinkIcon {
    padding-right: 4rem;
  }
  .projectVisual {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .projectIconLink {
    margin-right: 1rem;
    margin-top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease-in-out;
  }
  .projectIconLink2 {
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(-7px);
    transition: all 0.2s ease-in-out;
  }
  .projectIconLink:hover {
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
  }
  .projectIconLink2:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.5) translateY(-5px);
  }
  /* #endregion Project */
  /* #region Studio */

  /* #endregion Studio */
  /* #region Contact */
  .contactIcon {
    padding: 1rem 1rem 0 0;
    width: 50px;
    height: 50px;
    transition: all 0.2s ease-in-out;
  }

  .contactRow {
    display: flex;
    flex-direction: row;
  }
  .contactItem {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .contactInfo {
    font-size: 1vw; /* Use 1% of the viewport width for the font size */
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactImage {
    width: 300px;
    height: 300px;
  }
  /* #endregion Contact */
}

/* Media query for laptop */
@media (min-width: 1025px) {
  .canvasBox {
    display: flex;
    width: 500px;
    height: 500px;
  }
  .layer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .container {
    width: 100%;
  }
  .sectionTitleRow {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    padding-top: 5rem;
    justify-content: flex-start;
    align-items: center;
  }
  .sectionTitleIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .sectionTitle {
    font-size: 3rem;
    font-weight: normal;
  }

  .leftHalf {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-right: 1rem;
  }
  .rightHalf {
    width: 50%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
  }

  /* #region Intro */
  .introName {
    font-size: 4rem;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: white;
  }
  .introJobTitle {
    font-size: 2rem;
    padding: 1rem 0 0 0.3rem;
    margin: 0;
    font-weight: normal;
    color: white;
  }
  .introDescription {
    font-size: 2rem;
    width: 100%;
    max-width: 650px;
  }
  /* #endregion Intro */

  /* #region Work Experience */
  .workContainer {
    max-width: 1100px;
  }
  .workCompany {
    display: flex;
    flex-direction: row;
  }
  .workLogo {
    margin-right: 2rem;
    margin-top: 1rem;
  }
  .workInfo {
    padding: 0rem 0rem 2rem 0rem;
  }
  .workTitle {
    font-size: 4.5rem;
    padding-bottom: 2rem;
    font-weight: normal;
  }
  .workCompany {
    font-size: 2rem;
    font-weight: bold;
  }
  .workDate {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }
  .workDescription {
    padding: 0 0 0 0;
    font-size: 1.2rem;
  }

  /* #endregion Work Experience */

  /* #region Project */
  .projectContainer {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .projectSectionTitle {
    font-size: 4.5rem;

    transform: translateY(-4rem);
  }
  .projectTitle {
    font-size: 3rem;
    margin: 0;
  }
  .projectLanguages {
    font-size: 1rem;
  }
  .projectDescription {
    font-size: 1.5rem;
    max-width: 700px;
  }
  .projectLinkIcon {
    padding-right: 4rem;
  }
  .projectVisual {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 700px;
  }
  .projectIconLink {
    margin-right: 1rem;
    margin-top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease-in-out;
  }
  .projectIconLink2 {
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(-7px);
    transition: all 0.2s ease-in-out;
  }
  .projectIconLink:hover {
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
  }
  .projectIconLink2:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.5) translateY(-5px);
  }
  /* #endregion Project */

  /* #region Contact */
  .contactIcon {
    padding: 1rem 1rem 0 0;
    width: 100px;
    height: 100px;
    transition: all 0.2s ease-in-out;
  }
  .contactIcon:hover {
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
    margin: 0 2rem;
  }
  .contactRow {
    display: flex;
    flex-direction: row;
  }
  .contactItem {
    font-size: 2rem;
    margin-top: 0;
  }
  .contactInfo {
    font-size: 1vw; /* Use 1% of the viewport width for the font size */
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* #endregion Contact */
}

/* #region Scroll */
.scrollColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  padding: 10px 20px;
  color: black;

  border-radius: 20px;
  width: 100%;
  height: 200px;
  background-color: transparent;
}

.scrollTitle {
  transform: translateY(-3rem);
  font-size: 16px;
}

.iconScroll,
.iconScroll:before {
  position: absolute;
  left: 50%;
}

.iconScroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 25px;
  border: 1.5px solid;
}

.iconScroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: black;
  margin-left: -4px;
  bottom: 8px; /* Change the 'top' value to 'bottom' */
  border-radius: 4px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  animation-timing-function: ease-in-out;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0); /* Change 'transform' to start from bottom */
  }
  100% {
    opacity: 0;
    transform: translateY(-46px); /* Change 'transform' to go up */
  }
}

/* #endregion Scroll */

/* #region SpeakButton */
.speakButton {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}
.speakButton:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
/* #endregion SpeakButton */

.loaderImage {
  background-color: grey;
  width: 300px;
  height: 300px;
}

.containerTitleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5rem;
}
