/* This will target the .about-page element */
.aboutPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* For Webkit-based browsers (Chrome, Safari, etc.) */
.container::-webkit-scrollbar {
  display: none;
}
.container {
  width: 90%;
  max-width: 1500px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  display: flex;
  flex-direction: column;
}
.headshot {
  width: 500px;
  height: 500px;
  z-index: -1;
}
.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.textContainerMid {
  width: 50%;
}

.title1 {
  font-size: 60px;
}
.description {
  font-size: 30px;
}
.workExperience {
  padding: 2rem;
  background-color: transparent;
  font-family: "Arial", sans-serif;
}

.info {
  margin-bottom: 2.5rem;
}

.workExperience > div:last-child {
  margin-bottom: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.company {
  font-size: 1.25rem;
  font-weight: bold;
}

.date {
  font-size: 1rem;
  font-style: italic;
}
.leftHalf {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.rightHalf {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.layer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
